deathstar.json
[{"id":"1b94bd42.8058ab","type":"tab","label":"Death Star","disabled":false,"info":""},{"id":"bea2249b.03fa28","type":"ui_gauge","z":"1b94bd42.8058ab","name":"","group":"601bfe9b.9851e","order":1,"width":0,"height":0,"gtype":"gage","title":"Recharge Status","label":"%","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":410,"y":280,"wires":[]},{"id":"72ff4a39.ad92a4","type":"ui_chart","z":"1b94bd42.8058ab","name":"Planets Destroyed","group":"40c2d32b.f1c23c","order":5,"width":0,"height":0,"label":"","chartType":"bar","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":390,"y":460,"wires":[[]]},{"id":"7a998c0d.32f09c","type":"inject","z":"1b94bd42.8058ab","name":"","topic":"","payload":"[{\"series\":[\"X\"],\"data\":[[4,2,3,8,4,4,1]],\"labels\":[\"Mon\",\"Tue\",\"Wed\",\"Thu\",\"Fri\",\"Sat\",\"Sun\"]}]","payloadType":"json","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":150,"y":460,"wires":[["72ff4a39.ad92a4"]]},{"id":"d9eccff.e97323","type":"inject","z":"1b94bd42.8058ab","name":"","topic":"","payload":"68","payloadType":"num","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":180,"y":280,"wires":[["bea2249b.03fa28"]]},{"id":"551db070.2212a","type":"ui_slider","z":"1b94bd42.8058ab","name":"","label":"Power","tooltip":"","group":"b501961d.143778","order":2,"width":0,"height":0,"passthru":true,"outs":"all","topic":"","min":0,"max":10,"step":1,"x":200,"y":120,"wires":[["3a2eed5c.7efcea"]]},{"id":"fb85ad58.10f14","type":"ui_switch","z":"1b94bd42.8058ab","name":"","label":"Engaged","tooltip":"","group":"b501961d.143778","order":3,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":190,"y":80,"wires":[[]]},{"id":"3a2eed5c.7efcea","type":"ui_text","z":"1b94bd42.8058ab","group":"b501961d.143778","order":1,"width":"0","height":"0","name":"","label":"<font size =20 color =#4383f9>{{msg.payload}}","format":"","layout":"col-center","x":350,"y":120,"wires":[]},{"id":"391493ae.b38aa4","type":"ui_text_input","z":"1b94bd42.8058ab","name":"","label":"Planet:","tooltip":"","group":"23b2054c.0f13e2","order":1,"width":0,"height":0,"passthru":true,"mode":"text","delay":300,"topic":"","x":360,"y":560,"wires":[[]]},{"id":"483dac0a.fcb8d4","type":"ui_button","z":"1b94bd42.8058ab","name":"","group":"23b2054c.0f13e2","order":2,"width":"0","height":"0","passthru":false,"label":"Arm","tooltip":"","color":"black","bgcolor":"#f3ba3f","icon":"fa-bullseye","payload":"","payloadType":"str","topic":"","x":350,"y":600,"wires":[[]]},{"id":"65f18a4c.724a8c","type":"ui_button","z":"1b94bd42.8058ab","name":"","group":"23b2054c.0f13e2","order":3,"width":"0","height":"0","passthru":false,"label":"Obliterate","tooltip":"","color":"","bgcolor":"#d21d1d","icon":"fa-bomb","payload":"","payloadType":"str","topic":"","x":350,"y":640,"wires":[[]]},{"id":"3a034df7.ad23ea","type":"ui_gauge","z":"1b94bd42.8058ab","name":"Distance to target","group":"e68b8e9e.08f1e","order":0,"width":0,"height":0,"gtype":"donut","title":"","label":"Million Kilometers","format":"{{value}}","min":0,"max":"1000","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":390,"y":720,"wires":[]},{"id":"509bf119.a3a038","type":"inject","z":"1b94bd42.8058ab","name":"","topic":"","payload":"26","payloadType":"num","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":150,"y":720,"wires":[["3a034df7.ad23ea"]]},{"id":"adfce41e.f270c8","type":"ui_switch","z":"1b94bd42.8058ab","name":"","label":"Engage Reactor","tooltip":"","group":"601bfe9b.9851e","order":2,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":400,"y":240,"wires":[[]]},{"id":"1e983f0a.ee1311","type":"inject","z":"1b94bd42.8058ab","name":"","topic":"","payload":"true","payloadType":"bool","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":190,"y":240,"wires":[["adfce41e.f270c8"]]},{"id":"5e25e1.3a2c5a2","type":"ui_chart","z":"1b94bd42.8058ab","name":"","group":"601bfe9b.9851e","order":3,"width":"6","height":"3","label":"Temperature","chartType":"horizontalBar","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"175","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":390,"y":380,"wires":[[]]},{"id":"cd240846.cbb04","type":"inject","z":"1b94bd42.8058ab","name":"","topic":"","payload":"[{\"series\":[\"X\"],\"data\":[[114]],\"labels\":[\"Celsius\"]}]","payloadType":"json","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":160,"y":380,"wires":[["5e25e1.3a2c5a2"]]},{"id":"fcfb946e.f2976","type":"inject","z":"1b94bd42.8058ab","name":"","topic":"","payload":"true","payloadType":"bool","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":150,"y":340,"wires":[["2b619cbc.92e8d4"]]},{"id":"2b619cbc.92e8d4","type":"ui_switch","z":"1b94bd42.8058ab","name":"","label":"Engage Cooling System","tooltip":"","group":"601bfe9b.9851e","order":4,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":430,"y":340,"wires":[[]]},{"id":"601bfe9b.9851e","type":"ui_group","z":"","name":"Super Laser","tab":"b0bb6dec.b8203","order":1,"disp":true,"width":"6","collapse":false},{"id":"40c2d32b.f1c23c","type":"ui_group","z":"","name":"Planets Destroyed","tab":"b0bb6dec.b8203","order":3,"disp":true,"width":"6","collapse":false},{"id":"b501961d.143778","type":"ui_group","z":"","name":"Tractor Beam","tab":"b0bb6dec.b8203","order":5,"disp":true,"width":"6","collapse":false},{"id":"23b2054c.0f13e2","type":"ui_group","z":"","name":"Targeting","tab":"b0bb6dec.b8203","order":2,"disp":true,"width":"6","collapse":false},{"id":"e68b8e9e.08f1e","type":"ui_group","z":"","name":"Distance to Target","tab":"b0bb6dec.b8203","order":4,"disp":true,"width":"6","collapse":false},{"id":"b0bb6dec.b8203","type":"ui_tab","z":"","name":"Death Star","icon":"fa-bullseye","disabled":false,"hidden":false}]
