mqtt_hello_world.json
[{"id":"cb9f4cf6.82ce9","type":"tab","label":"MQTT Hello World","disabled":false,"info":""},{"id":"77f24293.e58d7c","type":"mqtt out","z":"cb9f4cf6.82ce9","name":"","topic":"Hackaday/nodered/test","qos":"","retain":"","broker":"fba9a46a.a3b7f8","x":370,"y":60,"wires":[]},{"id":"d4924cea.650678","type":"mqtt in","z":"cb9f4cf6.82ce9","name":"","topic":"Hackaday/nodered/test","qos":"2","datatype":"auto","broker":"fba9a46a.a3b7f8","x":180,"y":180,"wires":[["eae6d887.d1327"]]},{"id":"eae6d887.d1327","type":"debug","z":"cb9f4cf6.82ce9","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":420,"y":180,"wires":[]},{"id":"b6e62f41.d8a7","type":"inject","z":"cb9f4cf6.82ce9","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":130,"y":60,"wires":[["77f24293.e58d7c"]]},{"id":"fba9a46a.a3b7f8","type":"mqtt-broker","z":"","name":"Mosquitto Test Server","broker":"test.mosquitto.org","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""}]
