porchlight.json
[{"id":"1a934d7.fae59b3","type":"tab","label":"Porchlight","disabled":false,"info":""},{"id":"71eb330b.5ed4ec","type":"mqtt in","z":"1a934d7.fae59b3","name":"Schedule Topic","topic":"lighting/porchlight/status/schedule","qos":"1","datatype":"auto","broker":"51236801.56dee8","x":120,"y":480,"wires":[["9d83752e.38f5a8","66b17e6f.eff47"]]},{"id":"9d83752e.38f5a8","type":"debug","z":"1a934d7.fae59b3","name":"Debug","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":390,"y":480,"wires":[]},{"id":"b79fcaf0.1a6a98","type":"mqtt out","z":"1a934d7.fae59b3","name":"Porchlight client","topic":"","qos":"1","retain":"","broker":"51236801.56dee8","x":420,"y":200,"wires":[]},{"id":"740e546f.41942c","type":"inject","z":"1a934d7.fae59b3","name":"Test (Timestamp)","topic":"lighting/porchlight/status/schedule","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":120,"y":260,"wires":[["b79fcaf0.1a6a98"]]},{"id":"66b17e6f.eff47","type":"ui_text","z":"1a934d7.fae59b3","group":"60447f.4c438b8","order":2,"width":0,"height":0,"name":"Schedule","label":"Schedule:","format":"{{msg.payload}}","layout":"col-center","x":400,"y":520,"wires":[]},{"id":"4fdf6abb.e63164","type":"ui_button","z":"1a934d7.fae59b3","name":"","group":"27782f47.e87ee","order":1,"width":0,"height":0,"passthru":false,"label":"On","tooltip":"","color":"","bgcolor":"","icon":"","payload":"On","payloadType":"str","topic":"lighting/porchlight/control","x":150,"y":40,"wires":[["b79fcaf0.1a6a98"]]},{"id":"509942a1.f9570c","type":"ui_button","z":"1a934d7.fae59b3","name":"","group":"27782f47.e87ee","order":1,"width":0,"height":0,"passthru":false,"label":"Off","tooltip":"","color":"","bgcolor":"","icon":"","payload":"Off","payloadType":"str","topic":"lighting/porchlight/control","x":150,"y":80,"wires":[["b79fcaf0.1a6a98"]]},{"id":"a7eab231.935d1","type":"ui_button","z":"1a934d7.fae59b3","name":"","group":"60447f.4c438b8","order":3,"width":0,"height":0,"passthru":false,"label":"Update Status","tooltip":"","color":"","bgcolor":"","icon":"","payload":"Status","payloadType":"str","topic":"lighting/porchlight/control","x":120,"y":120,"wires":[["b79fcaf0.1a6a98"]]},{"id":"84b4609f.ce9ba","type":"mqtt in","z":"1a934d7.fae59b3","name":"Status Topic","topic":"lighting/porchlight/status","qos":"1","datatype":"auto","broker":"51236801.56dee8","x":130,"y":380,"wires":[["44fdf93e.1eb5f8","2c80af3c.5eba5"]]},{"id":"44fdf93e.1eb5f8","type":"debug","z":"1a934d7.fae59b3","name":"Debug","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":390,"y":380,"wires":[]},{"id":"2c80af3c.5eba5","type":"ui_text","z":"1a934d7.fae59b3","group":"60447f.4c438b8","order":1,"width":0,"height":0,"name":"Status","label":"Status","format":"{{msg.payload}}","layout":"col-center","x":390,"y":420,"wires":[]},{"id":"51236801.56dee8","type":"mqtt-broker","z":"","name":"","broker":"192.168.1.135","port":"1883","clientid":"nelson","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"60447f.4c438b8","type":"ui_group","z":"","name":"Porchlight Status","tab":"26d6d6a.f25a12a","order":2,"disp":true,"width":"6","collapse":false},{"id":"27782f47.e87ee","type":"ui_group","z":"","name":"Porchlight Control","tab":"26d6d6a.f25a12a","order":1,"disp":true,"width":"6","collapse":false},{"id":"26d6d6a.f25a12a","type":"ui_tab","z":"","name":"Home","icon":"dashboard","order":1,"disabled":false,"hidden":false}]
